/* Navigation.css */
.main-navigation {
  background-color: var(--nav-color);
  margin-bottom: 20px;
  }
  .main-navigation ul {
  display: flex;
  list-style: none;
  }
  .main-navigation li {
  flex: 1;
  text-align: center;
  padding: 12px 0;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 2px solid transparent;
  cursor: pointer;
  }
  .main-navigation li.active {
  color: var(--text-color);
  border-bottom: 2px solid var(--accent-color);
  }